.app-container {
  text-align: center;
  margin: 2rem;
}

.message-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.message-card {
  border: 1px solid rgb(7, 15, 243);
  padding: 1rem;
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
